In [8]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.ExcelFile('rbull1.xlsx')

In [4]:
raw_data.sheet_names

['rbull1.csv']

In [5]:
data = raw_data.parse('rbull1.csv')

In [6]:
data.head()

        date                 id  clicks  conversions       cost  impressions
0 2018-05-01  23842875301030600       2            1   4.360000          227
1 2018-05-01  23842872626260600       1            0   5.520258          263
2 2018-05-01  23842875301030600       5            2   5.340000          278
3 2018-05-01  23842860746290600       0            0   0.070000            1
4 2018-05-01  23842872626260600       5            1  13.080612          702

In [9]:
data['ConversionperCost'] = (data['conversions']/data['cost']).replace([np.inf, -np.inf], np.nan)

In [13]:
data.head()

,date,id,clicks,conversions,cost,impressions,ConversionperCost
0,2018-05-01,23842875301030600,2,1,4.360000,227,0.229358
1,2018-05-01,23842872626260600,1,0,5.520258,263,0.000000
2,2018-05-01,23842875301030600,5,2,5.340000,278,0.374532
3,2018-05-01,23842860746290600,0,0,0.070000,1,0.000000
4,2018-05-01,23842872626260600,5,1,13.080612,702,0.076449

In [30]:
opt_data = (data[['date','id','ConversionperCost']].copy(deep = True))

In [32]:
opt_data.reset_index(inplace = True)

In [22]:
opt_data.pivot(index='ind',columns='id',values='ConversionperCost')

AttributeError: 'NoneType' object has no attribute 'pivot'

In [34]:
opt_data

         index       date                 id  ConversionperCost
0            0 2018-05-01  23842875301030600           0.229358
1            1 2018-05-01  23842872626260600           0.000000
2            2 2018-05-01  23842875301030600           0.374532
3            3 2018-05-01  23842860746290600           0.000000
4            4 2018-05-01  23842872626260600           0.076449
5            5 2018-05-01  23842875301030600           0.000000
6            6 2018-05-01  23842872626260600           0.194543
7            7 2018-05-01  23842860746470600           0.123609
8            8 2018-05-01  23842860746470600           0.180995
9            9 2018-05-01  23842872626260600           0.128694
10          10 2018-05-01  23842860746290600           0.000000
11          11 2018-05-01  23842860746290600           0.000000
12          12 2018-05-01  23842860746290600           0.000000
13          13 2018-05-01  23842872626260600           0.000000
14          14 2018-05-01  23842860746470600           0.138122
15          15 2018-05-01  23842860746470600           0.000000
16          16 2018-05-01  23842860746290600           0.000000
17          17 2018-05-01  23842875301030600           0.000000
18          18 2018-05-01  23842860746470600           0.129255
19          19 2018-05-01  23842860746470600           0.054348
20          20 2018-05-01  23842860746470600           0.000000
21          21 2018-05-01  23842872626260600           0.000000
22          22 2018-05-01  23842860746470600           0.098619
23          23 2018-05-01  23842875301030600           0.000000
24          24 2018-05-01  23842860746290600           2.040816
25          25 2018-05-01  23842860746290600           0.000000
26          26 2018-05-01  23842875301030600           0.000000
27          27 2018-05-01  23842875301030600           0.382409
28          28 2018-05-01  23842872626260600           0.000000
29          29 2018-05-01  23842875301030600           0.546448
...        ...        ...                ...                ...
231468  231468 2018-07-03      6097840572037           0.000000
231469  231469 2018-07-03      6097840581837           0.000000
231470  231470 2018-07-03      6097837095437           0.000000
231471  231471 2018-07-03      6097842886437           0.000000
231472  231472 2018-07-03      6097842895037           0.000000
231473  231473 2018-07-03      6097842885837           0.000000
231474  231474 2018-07-03      6097840574837           0.000000
231475  231475 2018-07-03      6097842897637           0.000000
231476  231476 2018-07-03      6097838227037           0.998572
231477  231477 2018-07-03      6097341606437           0.000000
231478  231478 2018-07-03      6097840580437           0.000000
231479  231479 2018-07-03      6096471468837           0.000000
231480  231480 2018-07-03      6094650896437           0.000000
231481  231481 2018-07-03      6096471071437           0.000000
231482  231482 2018-07-04  23842820171280700           0.000000
231483  231483 2018-07-04  23842820171160700           0.000000
231484  231484 2018-07-04  23842820171160700           0.000000
231485  231485 2018-07-04  23842811497250700           0.000000
231486  231486 2018-07-04  23842807747820700           0.000000
231487  231487 2018-07-04  23842818578200700           0.000000
231488  231488 2018-07-04  23842811497250700           0.000000
231489  231489 2018-07-04  23842818578200700           0.000000
231490  231490 2018-07-04  23842818578110700           0.000000
231491  231491 2018-07-04  23842807747820700           0.000000
231492  231492 2018-07-04  23842811497250700           0.000000
231493  231493 2018-07-04  23842820171280700           0.000000
231494  231494 2018-07-04  23842818578090700           0.000000
231495  231495 2018-07-04  23842820171160700           0.000000
231496  231496 2018-07-04  23842807747820700           0.000000
231497  231497 2018-07-04  23842818578110700           0.000000

[231498 rows x 4 columns]